<div class="footer">


<div class="information">
<p>info@lukice_cream.ge</p>   <p>+995 (32) 112233</p>

<a href="https://l.facebook.com/l.php?u=https%3A%2F%2Finstagram.com%2Flukice_cream%3Figshid%3DMzNlNGNkZWQ4Mg%253D%253D%26fbclid%3DIwAR05fYiX1yRlO7Yo9aYgFRcVni67xdv6AuJhuE6STSoxhczBv5cDnheYsgI&h=AT18gnmq7KAjHTVpLtN2oPPrg2YrEEiyvscwnYpB8hWdN7pvVwluZbZIsaxbI44t1kTjgOn8Nr3ZbrPgrx88mCOoJcOWDuQdGqOQBtOSq-HavFb0fSg870dUxWodlHke8kI6Fg" style="text-decoration: none;"><i class="bi bi-instagram">ინსტაგრამი</i>
    
</a> <br> 
<a href="https://www.facebook.com/profile.php?id=100093284171024" style="text-decoration: none;"><i class="bi bi-facebook"></i>ფეისბუკი
    
</a>

</div>
<img src="https://i.ibb.co/jDt6s5J/Capture.png" alt="" >
<p>Copyright © 2023 Lukice_cream.ge. All rights reserved.</p>
</div>



