<div class="pay">
    <div class="pay">
        <form class="payment-form">
            <label for="card-number">ბარათის ნომერი:</label>
            <input type="text" id="card-number" name="card-number" class="payment-form__input" placeholder="Enter card number" required>
        
            <label for="cardholder-name">მფლობელის სახელი:</label>
            <input type="text" id="cardholder-name" name="cardholder-name" class="payment-form__input" placeholder="Enter cardholder's name" required>
        
            <label for="expiration-date">მოქმედების ვადა:</label>
            <input type="text" id="expiration-date" name="expiration-date" class="payment-form__input" placeholder="MM/YYYY" required>
         
            <label for="card-number">მისამართი:</label>
            <input type="text" id="misamarti" name="misamarti" class="payment-form__input" placeholder="ჩაწერეთ მისამართი" required>
            <button type="submit" class="payment-form__button"><a  target="_blank" style="text-decoration: none; color: white;" href="https://paypalych.com/en/transfer/Z75pwzKE2J?default=card">გადახდა</a></button>
          </form>
        
        
        </div>
    
    
    
    </div>
