<div class="photo">
<img style="width: 100%;" src="https://www.judes.com/assets/images/resize/original/3178.jpg" alt="">
</div>
<div class="container" style="align-items: center;text-align: center;margin-top: 50px; border-bottom: 1px rgb(204, 223, 39) solid;"> 
    <h3 style="color:rgb(156, 149, 50) ;">გამარჯობა! იმედია მოგეწონებათ ჩვენი ნაყინიების ფართო არჩევანი!</h3>

</div>

<div class="container" style="align-items: center;text-align: center;margin-top: 100px; display: flex; position: relative; left: 50%;transform: translate(-50%);"> 

    <div class="card1" style="background-position: center;background-image: url(https://hips.hearstapps.com/hmg-prod/images/easiest-ever-fruit-and-coconut-ice-cream-1643120950.jpg?crop=0.990xw:0.660xh;0,0.158xh&resize=1200:*);background-size: cover;"></div>
    <div style="background-color: white;text-align: center;" class="card1" >
     <p style="color: rgb(156, 149, 50) ;font-weight: bold;position: relative; top: 40%;">გამარჯობა! ჩვენ გვაქვს ნაყინების ფართო არჩევანი, რომლებიც აუცილებლად უნდა დააგემოვნო!  </p>
     
    </div>
   
</div>
 <h1 style="color:rgb(156, 149, 50)  ; align-items: center;text-align: center;margin-top: 100px; border-bottom: 1px rgb(204, 223, 39) solid;font-size: 30px;">გემრიელად მიირთვით!</h1>

<div class="container"style="text-align: center;margin-top: 200px; display: flex; position: relative; flex-wrap:wrap; gap:10px;">
    <div  style="background-size: cover; background-image:url(https://img.freepik.com/free-vector/ice-cream-cone-cartoon-icon-illustration-sweet-food-icon-concept-isolated-flat-cartoon-style_138676-2924.jpg?w=2000) ;background-position: center;" class="card3"></div>
   <div style="background-size: cover; background-image:url(https://img.freepik.com/free-vector/ice-cream-cartoon-vector-icon-illustration-dessert-food-icon-concept-isolated-vector-flat-cartoon-style_138676-2521.jpg?w=2000) ;background-position: center;" class="card3"></div>
   <div style="background-size: cover; background-image:url(https://img.freepik.com/premium-vector/astronaut-with-ice-cream-cartoon-vector-icon-illustration-science-food-icon-concept-isolated-premium-vector-flat-cartoon-style_138676-3502.jpg) ;background-position: center;" class="card3"></div>
   <div style="background-size: cover; background-image:url(https://as1.ftcdn.net/v2/jpg/01/69/67/58/1000_F_169675899_kavfjubyMuqTEh6q2XXCiGD5GjCXgagG.jpg) ;background-position: center;" class="card3"></div>
   <div style="background-size: cover; background-image:url(https://us.123rf.com/450wm/onemilliondreams/onemilliondreams2302/onemilliondreams230202214/198182897-cute-ice-cream-cartoon-character-in-a-scarf-cartoon-style-modern-simple-illustration.jpg?ver=6) ;background-position: center;" class="card3"></div>

</div>